@import "./lib/filter";
@import "./lib/list";
@import "./lib/timetravel";

:root {
  --deep-sky-blue: #25A2D8;
  --sky-blue: #4AB2DF;
  --dark-orange: #FFAA23;
  --orange: #FDCE4A;
  --orange-red: #FE4C20;
  --tomato: #FE6E4C;
  --lawn-green: #B0C92B;
  --lime: #CBE832;
  --snow: #FAFBFC;
  --smoke: #E9EBEC;
  --silver: #D7D7D7;
  --black: #222222;

  --sm-threshold: 0px;
  --md-threshold: 661px;
  --lg-threshold: 976px;

  --space-n: 0;
  --space-b: 0.5rem;
  --space-s: 1.25rem;
  --space-m: 2.5rem;
  --space-l: 5rem;

  /** Contextual */
  --color-link: #24a0d8;
}

@custom-media --sm-viewport (max-width: 660px);
@custom-media --md-viewport (min-width: 661px) and (max-width: 975px);
@custom-media --lg-viewport (min-width: 976);

.article {
  display: none;
}

pre {
  margin: 0;
}
